<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <!-- Colocar o logo do site -->
    <link rel="icon" type="image/png" href=""> 
    <title>Lua Programmer</title>
</head>
<body>
    
    <h1>Olá Mundo, eu sou Luana</h1>

    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>